<header class="newgame-header">
  <div class="newgame-header__back" data-page="home">home</div>
  <h1 class="newgame-header__title">{{title}}</h1>
</header>

{{#if mode}}
<div class="newgame-button">
  {{#each mode}}
  <button class="newgame-button__{{class}}" type="button" name="button">{{option}}</button>
  {{/each}}
</div>
{{/if}}

{{#if players}}
<form class="newgame-form" name="game-form">
  <div class="newgame-form__player-panel">
    {{#each players}}
    <div class="newgame-form__player-panel__player-info">
      <label for="{{label_id}}">{{label}}</label>
      <input type="text" id="{{label_id}}" name="player-name" value="{{name}}" maxlength="8" autocomplete="name" />
      <label for="{{symbol_id}}">Symbol</label>
      <input type="text" id="{{symbol_id}}" name="player-symbol" value="{{symbol}}" maxlength="1" />
      {{#if span}}
      <span class="newgame-form__player-panel__delete-button">{{span}}</span>
      {{/if}}
    </div>
    {{/each}}
    <div class="newgame-form__player-panel__add-button">
      <button type="button" name="add-player">+</button>
    </div>
  </div>
  <hr />

  <div class="newgame-form__field-panel">
    <div class="newgame-form__field-panel__size-button">
      <label for="size-button">Field size</label>
      <input type="number" id="size-button" name="size-button" value="3" min="3" max="6" step="1" />
      <span class="newgame-form__field-panel__size-button_validity"></span>
    </div>
    <div class="newgame-form__field-panel__start-button">
      <button type="button" name="start-game">Start!</button>
    </div>
  </div>
</form>
{{/if}}

<!-- TODO: Player turn info -->
<!-- TODO: Field -->
